header {
    background-color: #013080;
}

.text-bold {
    font-weight: bold;
}

.text-comment {
    font-size: 0.85em;
    color: #777777;
}

.title-text {
    font-size: 0.90em;
    color: grey;
}

.board-info {
    font-size: 0.8em;
    color: #777777;
}