header {
    background-color: #013080;
}

.board-info {
    font-size: 0.8em;
    color: #777777;
}

.p-10 {
    padding: 10px;
}

.text-bold {
    font-weight: bold;
}

.text-comment {
    font-size: 0.85em;
    color: #777777;
}

.title-text {
    font-size: 0.90em;
    color: grey;
}

.user-form-title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.w-100 {
    width: 100%;
}